html {
    scroll-behavior: smooth;
    margin-inline: unset;
    /* writing-mode: horizontal-tb; */
}

body{
    margin: 0px;
    background: --cor-default;
}

:root {
    --cor-default: #ffffff;
    --color-background: #F2E7DC;
    --color-primary: #027373;
    --color-secondary: #038C7F;
    --color-accent: #A9D9D0;
    --color-text: #0D0D0D;
}

/* ######################################################### */
/* ###################### Media Queries ####################### */
@media only screen and (max-width: 900px) {
    head {
        width: 380px;
        max-width: 100%;
    }
    .central{
        display: block;
        visibility: visible;
    }
    
    #nav-header {
        display: none;
        visibility: collapse;
    }

    /* ################################################## */
    /* ################# TELA INICIAL ################### */
    #home {
        display: inline-block;
        max-height: 100%;
        height: 100%;
        width: 100%;
        padding: 0px;
        text-align: center;
    }

    #home div h2 {
        text-align: start;
        font-size: 45px;
        padding-left: 5%;
        padding-right: 5%;
    }

    #home div div p {
        padding: 5%;
    }
    
    .img-home {
        padding: 0%;
        width: 100%;
    }

    /* ################################################## */
    /* ####################### ABOUT #################### */
    
    #about {
        width: 100%;
        padding: 0px;
    }

    #about article h2 {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* ################################################ */
    /* ################### SERVIÇOS ################### */

    #services {
        width: 100%;
        padding: 0px;
    }

    #services h2 {
        padding-left: 5%;
        padding-right: 5%;
    }

    #div-price{
        padding: 5%;
        overflow: hidden;   
    }

    .box-new{
        width: 100%;
    }

    /* ######################################################### */
    /* ################### tabela perfomance ################### */

    #performance{
        padding: 0px;
    }

    #performance article h2 {
        padding-left: 2%;
        padding-right: 2%;
    }

    table{
        width: 100%;
    }

    .line0 {
        padding: 0px;
        font-size: 12px;
    }

    /* ################################################## */
    /* ################## SUPPORT ####################### */
    .context-img-centralizar h3 {
        text-align: center;
        top: 0%;
    }

    .context-img-centralizar p {
        text-align: center;
        top: 36%;
    }

    .context-img-centralizar a {
        bottom: 15%;
    }

    /* ####################################################### */
    /* ###################### FORM ########################### */
    #display-screen {
        display: inline-block;
        padding: 0px;
    }

    #size-screen-half {
        padding: 0%;
        width: 100%;
    }

    #size-screen-half form ol {
        font-size: 25px;
    }

    #box-selection {
        font-size: 25px;
    }

    textarea {
        width: 90%;
    }
    
    /* ################################################## */
    /* ####################### FOOTER #3################# */
    
    footer {
        display: block;
    }

    footer nav {
        width: 100%;
    }

    footer nav ul{
        padding: 0px;
    }

    footer p{
        text-align: center;
    }

}